.datepicker-plot-area .datepicker-day-view .table-days td {
    height: 70px !important;
}


.datepicker-plot-area .datepicker-day-view .table-days td span {
    height: 100% !important;
}


.datepicker-plot-area .datepicker-day-view .month-grid-box {
    height: auto !important;
}


.datepicker-plot-area {
    font-size: 16px !important;
}

table {
    font-size: 16px !important;
}

.datepicker-plot-area .datepicker-day-view .table-days td span.other-month {
    color: white !important;
}