/* Added CSS by Faghih */

.datepicker-plot-area-inline-view .datepicker-day-view .table-days td {
    height: 70px !important;
    /* Add 1px padding to cells */
    padding: 1px;
}

/* End of added CSS by Faghih */

.datepicker-plot-area-inline-view .datepicker-day-view .table-days td span {
    height: 50% !important;
}


.datepicker-plot-area-inline-view .datepicker-day-view .month-grid-box {
    height: auto !important;
}


.datepicker-plot-area-inline-view {
    font-size: 16px !important;
    font-family: vazir !important;
}

.datepicker-plot-area-inline-view table {
    font-size: 16px;
    font-family: vazir;
}

.datepicker-plot-area-inline-view .datepicker-day-view .table-days td span.other-month {
    color: white;
}

.passed-days {
    color: #DBDAD7 !important;
}

.blocked-days {
    background-color: #FF9E6A !important;
    border-radius: 2px 2px 0px 0px;
}

.reserved {
    border-radius: 0px 0px 2px 2px;
}

.booked-days {
    background-color: #7ce656 !important;
}

.datepicker-plot-area-inline-view .disabled {
    pointer-events: none;
    background-color: #fff;
    color: #333;
    border: 0;
    text-shadow: none;
}

.datepicker-plot-area-inline-view .disabled span:not(.other-month) {
    color: black !important;
}

.datepicker-plot-area-inline-view .header-row {
    height: 40px !important;
}

.datepicker-plot-area-inline-view .datepicker-day-view .table-days td.disabled span,
.datepicker-plot-area-inline-view .datepicker-year-view .year-item-disable,
.datepicker-plot-area-inline-view .datepicker-month-view .month-item-disable {
    background-color: #fff;
}

.datepicker-plot-area-inline-view .datepicker-day-view .month-grid-box .header .header-row-cell {
    font-family: vazir !important;
}