body {
  padding: 0;
  margin: 0;
}

/* Added CSS by Faghih */
.datepicker-plot-area-inline-view .datepicker-day-view .table-days td {
  height: 70px;
  border-radius: 9px;
  width: 14%;
}

/* End of added CSS by Faghih */

/* .other-month,
.disabled:has(.other-month) {
  height: 0 !important;
} */

.datepicker-plot-area-inline-view .datepicker-day-view .table-days td.disabled span:not(.other-month):hover,
.datepicker-plot-area-inline-view .datepicker-day-view .table-days td.disabled span:not(.other-month) {
  background-color: #F9F9F9;
  color: #C3C3C3;
}

.datepicker-plot-area-inline-view .datepicker-day-view .table-days td span,
.datepicker-plot-area-inline-view .datepicker-day-view .table-days td:not(.disabled) span:hover {
  height: calc(100% / 3);
  background-color: inherit;
  color: inherit;
  word-break: break-all;
}

.datepicker-plot-area-inline-view .datepicker-day-view .month-grid-box {
  height: auto;
}

.datepicker-plot-area-inline-view {
  font-size: 16px;
  font-family: estedad;
  padding-top: 10px;
}

.datepicker-plot-area-inline-view table {
  font-size: 16px;
  font-family: estedad;
  border-collapse: separate;
  border-spacing: 4px 4px;
  margin-bottom: 0 !important;
}

.blocked-days {
  background-color: #fbb142 !important;
  border: 0px solid !important;
}

.discounted-days {
  border: 3px solid #8165D6 !important;
}

.booked-days {
  background-color: #4fdfb1 !important;
  border: none !important;
}

.datepicker-plot-area-inline-view .header-row {
  height: 40px;
}

.datepicker-plot-area-inline-view .datepicker-day-view .month-grid-box .header .header-row-cell {
  font-family: estedad;
}

span.other-month {
  color: white !important;
  background-color: white !important;
  outline: none !important;
}

.selected,
.selected:hover {
  background-color: #203647 !important;
  color: #e4defe !important;
}

button.block,
button.unblock {
  border: 0px;
  border-radius: 5px;
}

td.disabled span:first-child {
  border-radius: 5px 5px 0px 0px !important;
}

td.disabled span:last-child {
  border-radius: 0px 0px 5px 5px !important;
}

td span:first-child {
  border-radius: 5px 5px 0px 0px !important;
}

td span:last-child {
  border-radius: 0px 0px 5px 5px !important;
}

.btnActionCont {
  width: 100%;
  display: grid;
  justify-content: space-around;
}

.btnActionCont button {
  width: 100%;
  margin: 0;
  padding: 12px 120px;
  border-radius: 30px !important;
  box-sizing: border-box;
  margin-top: 20px;
}

.form {
  width: 100%;
  padding-top: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

input[type="radio"] {
  accent-color: #8165d6;
  height: 18px;
  width: 18px;
}

label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  direction: rtl;
  font-size: 20px;
  font-family: estedad !important;
  color: #444444; /* changed by nik */
  gap: 10px;
}

.btnActionCont button {
  margin-top: 20px;
  font-size: 18px;
  font-family: estedad;
  border: 0px;
  border-radius: 5px;
}

.price {
  font-size: 14px;
}

td.passed-days.disabled {
  background: #f2f2f2;
}

.header-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.datepicker-plot-area .datepicker-day-view .table-days tr {
  width: 100%;
  margin-bottom: 2px;
  display: flex;
  justify-content: space-evenly;
}

.loading-overlay-calendar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  flex-direction: column;
}

.loading-overlay-calendar .loading-spinner-calendar {
  border: 10px solid #FCFCFC;
  border-top: 10px solid #8165d6;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  animation: spin 1.5s linear infinite;
}

.loading-text-calendar {
  margin-top: 20px;
  font-size: 18px;
  color: white;
  text-align: center;
}

.weekends-holidays {
  background-color: #FFEEEE;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* for normal days */
.datepicker-day-view .table-days td:not(.selected):not(.disabled):not(.blocked-days):not(.booked-days):not(.other-month) {
  background-color: #E5E5E5 !important;
  color: #203647 !important;
}

@media screen and (max-width: 500px) {
  .btnActionCont button {
      padding:12px 100px; /* Adjust this to the padding you want for smaller devices */
  }
}